{% extends "home/main.html" %}
{% block content %}
<main>
    <div class="container-fluid">
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
            {{message}}
        </div>
        {% endfor %}
        <h1 class="mt-4">Profile</h1>
<!--        <form method="post" action="#" enctype="multipart/form-data">-->
<!--            {% csrf_token %}-->
<!--            {{ form.as_table }}-->
<!--            <p>{{ form.errors }}</p>-->
<!--            <input class="btn btn-success" type="submit" value="Update Information">-->
<!--        </form>-->
        <form method="post" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
            {% for field in form %}
                    {{ field.errors }}
                    <tr class="table">
                        <td width="20%">{{ field.label_tag }} </td>
                        <td>{{ field }}</td>
                    </tr>
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
            {% endfor %}
            </table>
            <input class="btn btn-success" type="submit" value="Update Information">
        </form>
    </div>
</main>
{% endblock %}