{% extends "home/main.html" %}
{% block content %}
<main>
    <div class="container-fluid">
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
            {{message}}
        </div>
        {% endfor %}
        <h1 class="mt-4">Profile</h1>
        <form method="post" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p>{{ form.errors }}</p>
            <input class="btn btn-success" type="submit" value="Update Information">
        </form>
    </div>
</main>
{% endblock %}