{% extends 'loginmanager/main.html' %}
{% load i18n %}
{% block content %}
<main>
    {% get_current_language as LANGUAGE_CODE %}
<!--    {{ LANGUAGE_CODE }}-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <form method="post" action="{% url 'set_language' %}">
                            {% csrf_token %}
                            <input type="hidden" name="text" value="{{ redirect_to }}">
                            <select name="language" id="">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <option value="{{ language.code }}" {% if lanauage.code == LANGUAGE_CODE %} selected {% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Go">
                        </form>
                        <h3 class="text-center font-weight-light my-4">Create Account</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1">{% trans "Your Username" %} : </label>
                                        {{ form.username }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1">{% trans "Your Email A/C" %} :</label>
                                {{ form.email }}
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="small mb-1">{% trans "Type Password" %} : </label>
                                        {{ form.password1 }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1">{% trans "Password again" %}: </label>
                                        {{ form.password2 }}
                                    </div>
                                </div>
                            </div>
                            <p>{{ form.errors }}</p>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{% trans "Create Account" %}</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a href="{% url 'loginmanager-login' %}">Have an account? Go to login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}