{% extends 'home/main.html' %}
{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Time Register</h1>
        It is {% now "jS F Y H:i" %}
<!--        {{ name }} {{ now }} {{ current }} {{ checkin_status }}-->
        <form method="post" action="">
            {% csrf_token %}
            {% if checkin_status == 0 %}
<!--            <p>{{ checkin_time }}</p>-->
            <button type="submit" class="btn btn-primary btn-lg" name="checkin">Check In</button>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Message :</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                          name="checkin_message"></textarea>
                <input type="hidden" name="user" value="{{ user.id }}"/>
                <input type="hidden" name="status" value="1">
            </div>
            {% else %}
            <p>You have checked In at {{ checkin_time }}</p>
            <button type="submit" class="btn btn-primary btn-lg" name="checkout">Check Out</button>
            <div class="form-group">
                <label for="exampleFormControlTextarea2">Message :</label>
                <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"
                          name="checkout_message"></textarea>
                <input type="hidden" name="user" value="{{ user.id }}"/>
                <input type="hidden" name="status" value="0">
            </div>
            {% endif %}

        </form>
    </div>
</main>
{% endblock %}